{% extends 'sights/base.html' %}

{% block content %}
<style>
    p {
        color: #000;
        font-size: 20px;
        font-family: 'Times New Roman';
    }
</style>
<div class="text" style="margin: 150px 0 25px; padding-left: 35px; padding-right: 25px;">
           
        <p><font face="Times New Roman">Сарапул - один из
        старейших городов Прикамья. На
        протяжении столетий его история
        была тесно связана с историей
        России.</font></p>
        
        <p><font face="Times New Roman">Первое упоминание
        о Сарапуле относится к XVI веку. В
        переписной книге (сводном
        документе подворных переписей
        мужского населения податных
        дворов) за 1596 г. говорится, что “в
        Казанском уезде, в верх Камы реки...
        в Сарапуле и Сиве ловят рыбу”. По
        всей видимости, “Сарапулом” здесь
        назван участок реки, а также вся
        местность вдоль её берегов.
        Полагают, что название этой
        местности произошло от слова
        “сарапуль”, что по-чувашски значит
        “жёлтая рыба”, или стерлядь, в
        изобилии водившаяся здесь. В
        настоящее время бытуют, однако, и
        другие версии происхождения этого
        названия. В частности, по одной из
        них слово “Сарапул” образовано
        слиянием двух слов: “сара”, что на
        одном из сибирских наречий значит
        “деньги” и “пул” - мелкая медная
        монета, полушка (устар.) и означает
        “денежное место”.</font></p>
        
        <p><font face="Times New Roman">Начало городу
        положило дворцовое село
        Вознесенское, основанное русскими
        поселенцами на высоком правом
        берегу реки Камы. В дозорной книге
        за 1621 г. содержится описание “села
        Вознесенского, что на Сарапуле”. В
        актах XYII века местность около него
        всегда называлась Сарапульским
        уездом. В 1738 г. Сарапул был приписан
        к Осинской провинции Уфимской
        губернии, стал с тех пор
        значительным пунктом Арской дороги
        в “Сибирские земли” и</font> <font
        face="Times New Roman">назывался уже
        дворцовой слободою.</font></p>
        
        <p><font face="Times New Roman">В сентябре 1780 г. по
        указу императрицы Екатерины II было
        учреждено Вятское наместничество
        из 13-и уездов, в число которых вошел
        и Сарапульский. Вятское
        наместничество вместе с
        Нижегородским и Костромским
        составляли одну административную
        область - генерал-губернаторство,
        центром которого был г. Нижний
        Новгород. Во главе его стоял
        государев наместник,
        генерал-губернатор, которому
        непосредственно подчинялись
        правители наместничеств и
        наместнические учреждения. Первым
        генерал</font>-<font face="Times New Roman">губернатором
        Нижегородским, Вятским и
        Костромским был назначен
        генерал-поручик А. А. Ступишин, а
        Вятским наместником - генерал-майор
        С. Д. Жихарев. С образованием
        Вятского наместничества бывшей
        дворцовой слободе Сарапулу был
        присвоен статус города, утверждены
        план его застройки, а также герб. </font></p>
        
        <p><font face="Times New Roman">В описании герба
        говорится: “В серебряном поле на
        высокой горе рубленый деревянный
        город, которым зданием оное место
        примечания достойно. Вверху в
        золотом поле из облака выходит
        рука, держащая натянутый лук со
        стрелой, а над ней в верхней части
        щита красный крест - сие вознесено
        во все вновь сочиненные гербы в
        верхней части щита в означение
        того, что те города принадлежат
        Вятскому наместничеству”.</font></p>
        
        <p><font face="Times New Roman">Город Сарапул был
        административным центром всего
        Прикамского края. В 1797 г., с
        образованием Вятской губернии, он
        становится одним из её уездных
        городов. В это время Сарапул был
        совсем небольшим городком, имевшим
        всего 533 дома и три церкви, две из
        которых были каменные и одна
        деревянная. В числе 1226 его жителей
        находилось 12</font>8<font face="Times New Roman">
        купцов, 51 мещанин и 1047 дворцовых
        крестьян. Вся местность вокруг
        Сарапула была занята
        земледельческим населением,
        которое нуждалось в выгодном рынке
        для сбыта сельскохозяйственных
        продуктов и для приобретения
        различных промышленных товаров.
        При таких благоприятных условиях
        стало быстро возрастать значение
        Сарапула, как торгового центра и в
        конце XVIII века здесь уже была
        сосредоточена вся торговля хлебом
        в Среднем Прикамье. Писатель А. Н.
        Радищев, возвращаясь из ссылки по
        Каме в 1797 г., отметил много
        пристаней в Сарапуле. Он записал в
        своем дневнике: “По утру рано ездил
        на лодке в Сарапул. Нашел дальнюю
        родню. До Сарапула в разных местах
        заводские пристани. В Сарапуле
        пристань хлебная, откуда попадали
        суда, идущие в Пермь... Много хлеба с
        Камы идет в Россию. Ниже Сарапула
        пристань, где грузят лес дубовый на
        строение корабельное и мачты в
        Астрахань”.</font></p>
        
        <p><font face="Times New Roman">Благодаря своему
        положению на реке Каме, в богатой
        плодородной местности, Сарапул
        стал быстро развиваться и богатеть.
        Новый толчок его росту, развитию
        ремесла и торговли дало решение
        правительства от 4 января 1805 г. о
        переводе всех дворцовых крестьян, к
        которым принадлежало и большинство
        жителей Сарапула, в звание
        государственных крестьян с правом
        свободного перехода в мещанство и
        купечество. Многие предприимчивые
        люди воспользовались этим правом и
        в городе резко возросло количество
        всевозможных мастерских и мелких
        промышленных предприятий. Основой
        сарапульской промышленности было
        кожевенное и чеботарное
        производство. Сарапульская кожа и
        обувь находили сбыт на</font> <font
        face="Times New Roman">крупнейших российских
        ярмарках - Мензелинской, Ирбитской
        и Нижегородской.</font></p>
        
        <p><font face="Times New Roman">Город особенно
        расширился, вырос и разбогател во
        второй половине XIX века, когда на
        Каме открылось и развилось
        пароходство. Одними из главных
        предметов торговли жителей
        Сарапула были рожь, ржаная мука,
        овёс, которых вывозилось ежегодно
        до трех миллионов пудов. Из
        Сарапула вывозились до ста тысяч
        пудов льна и пеньки, а также большое
        количество шерсти и кожевенных
        товаров. В Сарапул же привозилась
        местными купцами соль, которая
        обменивалась на другие товары. Чай
        и сахар привозились оптовыми
        торговцами как для местной продажи,
        так и для сбыта на различных
        ярмарках. Сарапульские купцы
        закупали лес в Пермской губернии,
        сплавляли по Каме в южные безлесные
        губернии и там продавали его. Из
        других областей России и из-за
        границы в Сарапул ввозились
        большие партии тканей, мебели,
        фарфора и других товаров. В конце XIX
        века в городе было более 40 фабрик и
        заводов с объемом производства в 1
        797 000 рублей, из которых большую
        часть составляли кожевенные (20
        заводов), а также 2 винокуренных
        завода, 3 мыловаренных, 6 кирпичных, 1
        фабрика для выделки льна. В городе
        было 76 различных ремесленных
        мастерских. В 1897 г. из Сарапула по
        Каме отправлено более 1000 судов с 1 387
        000 пудов разных товаров. Было
        налажено пароходное сообщение с
        Пермью и Казанью. Общий
        товарооборот города достигал
        семидесяти миллионов рублей. В это
        время Сарапул был некоронованной
        столицей Среднего Прикамья.
        Здешних купцов - Смагиных, Шитовых,
        Курбатовых, Ижболдиных, Бодалёвых
        знала вся Россия. Город
        стремительно развивался. В 1867 г.
        здесь было открыто первое
        Сарапульское уездное земское
        собрание. В 1869 г. - Общественный
        банк. В 1872 г. было введено Городовое
        положение и в Сарапуле открыта
        городская управа, городским
        головой был избран купец Г. Д.
        Пешехонов. В июле 1874 г. в Сарапуле
        открылся Окружной суд (для уездов
        Сарапульского, Елабужского и
        Малмыжского). </font></p>
        
        <p><font face="Times New Roman">Со стороны Камы
        город выглядел очень красиво.
        Расположенный по склону Старцевой
        горы, он был хорошо виден с
        парохода. Прямые улицы с рядами
        каменных зданий, белые церкви,
        возвышающиеся в разных местах
        города, масса садов за городом,
        пристань со многими пароходами -
        таким видели Сарапул приезжающие. А
        их было немало. В разные годы город
        посетили: Николай Михайлович,
        герцог Лейхтенбергский (1865),
        великий князь Алексей
        Александрович (1873) - именно в его
        честь вновь открытому
        Сарапульскому реальному училищу
        было присвоено наименование
        Алексеевского, а также великий
        князь Михаил Николаевич (1887).
        Проездом и на короткое время здесь
        останавливались выдающиеся
        русские писатели: А. Н. Радищев, А. И.
        Герцен, М. Е. Салтыков-Щедрин, А. П.
        Чехов, Д. Н. Мамин-Сибиряк. Все они
        оставили заметки о своем
        пребывании в городе в
        художественных произведениях,
        дневниках или письмах.</font></p>
        
        <p><font face="Times New Roman">В XIX - начале ХХ вв.
        Сарапул был не только
        административным центром своего
        уезда, но и средоточием его
        общественной и культурной жизни.
        Здесь открывались новые учебные
        заведения, организовывались
        различные благотворительные
        общества, возрастала активность
        наиболее образованных слоёв
        городского населения, остро
        чувствовавших необходимость
        народного просвещения.</font></p>
        
        <p><font face="Times New Roman">1 января 1835 г. по
        инициативе уездного лекаря Х. И.
        Чудновского и с разрешения
        министра народного просвещения С.
        С. Уварова в Сарапуле была
        торжественно открыта первая в
        Вятской губернии Публичная
        библиотека. К началу ХХ века в
        городе появились ещё несколько
        общедоступных библиотек-читален. В
        1909 г. был открыт музей
        сарапульского земства, а в 1915 г. на
        основе городских Музыкальных
        классов образовано музыкальное
        училище. В это время в Сарапуле было
        много учебных заведений:
        Алексеевское реальное училище,
        женская учительская семинария,
        женская гимназия, духовное, уездное
        и 6 приходских училищ, несколько
        частных школ.</font></p>
        
        <p><font face="Times New Roman">Благодаря щедрым
        пожертвованиям купцов, в городе
        существовали благотворительные
        учреждения, такие как
        Александровский дом призрения
        бедных, богадельня им. И. С. Колчина,
        убежище для бедных детей, дом
        трудолюбия. В 1875 г. было образовано
        Сарапульское Благотворительное
        общество, которое оказывало помощь
        неимущим жителям города, назначало
        пособия бедным ученикам реального
        и уездного училищ, гимназии и
        других учебных заведений,
        содержало бесплатные столовые и т.
        д. Денежные средства общества
        складывались из частных
        пожертвований, членских взносов,
        отчислений из</font> <font face="Times New Roman">городского
        и земского бюджетов, сборов от
        благотворительных спектаклей.</font></p>
         
        <p>Щедрые
        пожертвования делали сарапульские
        купцы и на строительство и
        содержание храмов. Один из
        крупнейших в городе купцов,
        потомственный почетный гражданин А. Т.
        Шитов,
        неоднократно избиравшийся
        городским головой, за
        пожертвования в пользу церкви был
        награжден тремя золотыми медалями.
        Купец 1-й гильдии </font>Д. Г. Ижболдин также получил звание
        потомственного почётного
        гражданина Сарапула в 1891 г. “за
        полезную общественную
        деятельность и пожертвования на
        благотворительные заведения и
        храмы”. Большие суммы жертвовали
        на благотворительные цели и другие
        сарапульские купцы: Н. В. Смагин, А. А.
        Курбатов П. А. Башенин, П. Н.
        Дедюхин. Они участвовали во всех
        благотворительных акциях, входили
        в состав благотворительных
        обществ, являясь их постоянными и
        почётными членами. </font></p>
        
        <p><font face="Times New Roman">Сарапул был
        родиной нескольких выдающихся
        людей, чьи имена известны сегодня
        всей стране. Среди них - Н.А.Дурова<font
        face="Times New Roman">, первая в России
        женщина-офицер, автор мемуаров
        “Записки кавалерист-девицы”, и
        повторившая её подвиг через 100 лет
        А. Т. Пальшина; священник и педагог,
        этнограф и историк Н. Н. Блинов,
        автор многочисленных трудов по
        истории Сарапула и Сарапульского
        уезда, оставивший о себе память как
        истинный подвижник просвещения на
        земле Удмуртии; писатель С. Н.
        Миловский (публиковавший свои
        произведения под псевдонимом
        Елеонский); учёный-энтомолог Л. К.
        Круликовский.</font></p>
        
        <p><font face="Times New Roman">Таким образом, в
        начале ХХ века Сарапул вполне
        оправдывал мнение о себе, как об
        одном из лучших городов Вятской
        губернии. К сожалению, годы
        общественных потрясений,
        последовавших за Октябрьской
        революцией, самым неблагоприятным
        образом сказались на всех сторонах
        его жизни. В первые годы советской
        власти экономика города была
        полностью развалена, особенно
        после национализации</font> <font
        face="Times New Roman">промышленных
        предприятий. Для работы не хватало
        ни качественного сырья, ни
        квалифицированных кадров. Страна
        пылала в пламени гражданской войны.
        В 1918-1919 гг. территория Прикамья
        стала ареной ожесточённых боёв.
        Красная армия остро нуждалась в
        обмундировании, и предприятия
        Сарапула начали выпускать
        армейскую обувь. Военные заказы
        позволяли кое-как существовать
        многим жителям города. В 1920-е гг.
        положение промышленности города
        оставалось по-прежнему тяжелым. С
        переходом к мирному строительству
        свёртывалось</font> <font face="Times New Roman">производство
        на заводах, выполнявших заказы
        Совета Обороны. Часть рабочих
        уходила в деревню или занялась
        кустарными промыслами. Городские
        власти принимали меры для
        налаживания промышленного
        производства в городе. Была
        проведена реорганизация
        управления промышленностью в
        соответствии с новыми
        политическими условиями.</font></p>
         
        <p><font face="Times New Roman">В 1930-е гг. в городе
        были открыты новые промышленные
        предприятия: швейная фабрика,
        лесокомбинат, шпалозавод;
        реконструированы и расширены
        спиртовой и пивоваренный заводы,
        построены путевые железнодорожные
        мастерские, железнодорожная
        станция и пристань соединены
        железнодорожной веткой. В 1939 г. в
        Сарапуле насчитывалось уже до 30
        предприятий государственной и
        местной промышленности и
        промысловой кооперации. В канун
        Великой Отечественной войны
        Сарапул стал одним из крупных
        промышленных центров Удмуртии.</font></p>
        
        <p><font face="Times New Roman">До 1924 г. город
        Сарапул был центром Сарапульского
        уезда Вятской губернии, с 1924 по 1930
        гг. - окружным центром
        Сарапульского округа Уральской
        области, с 1930 по 1939 гг. - центром
        Сарапульского района Кировской
        области. С 1939 г. он является городом
        республиканского подчинения и
        центром Сарапульского района
        Удмуртии.</font></p>
        
        <p><font face="Times New Roman">В годы Великой
        Отечественной войны тысячи
        сарапульцев встали в ряды
        защитников Родины. Предприятия
        города значительно увеличили
        выпуск военной продукции. Осенью 1941
        г. было налажено производство
        эвакуированных в Сарапул заводов
        им. Орджоникидзе и им. Дзержинского.
        Сарапульцы принимали активное
        участие во всенародном
        патриотическом движении по
        оказанию помощи фронту: в фонд
        обороны от</font> <font face="Times New Roman">горожан
        поступило более восьми миллионов
        рублей. Настоящими патриотами
        проявили себя сарапульцы и на
        фронтах Великой Отечественной
        войны, многие из них были
        награждены орденами и медалями, а 14
        наших земляков удостоены звания
        Героев Советского Союза.
        Отличились в боях за Родину
        уроженцы Сарапула вице-адмирал Ф. С.
        Седельников, генерал-майор Н. А.
        Болотников и другие военачальники.</font></p>
</div>
{% endblock %}
