{% extends 'sights/base.html' %}

{% load weather_tag %}
{% load static %}

{% block fonts%}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
{% endblock %}

{% block header %}
<style>
    .header {
        background: none;
    }
    .nav__link {
        color: #000;
    }
    .btn--login {
        color: #000;
    }
</style>
{{ block.super }}
{% endblock %}

{% block content %}
<!-- Intro -->
<div class="intro" id="intro">

    <div class="container">
        <div class="intro__inner">
            <h1 class="intro__title">Сарапул</h1>
            <h2 class="intro__subtitile"><!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna vel scelerisque nisl consectetur et. --></h2>
        </div>
    </div>
</div>

<!-- Weather -->
<div class="weather__block">
    {% block_of_weather %}
</div>

<!-- Works -->
<div class="title">
    <a href="{% url 'gallery' %}?page=1" class="title__name">Галерея</a>
</div>
<div class="works" id="works">

    {% for i in photos %}
    <div class="works__item">
        <img class="works__photo" src="{{ i.photo.url }}" alt="">
    </div>
    {% endfor %}

</div>


<!-- Testimonials -->
<div class="testimonials" id="testimonials">
    <div class="container">

        <div class="testimonials__slider" id="testimonialsSlider">
            {% for s in sights %}
            <div>
                <div class="testimonials__item">
                    <div class="testimonials__photo">
                        <img class="testimonials__img" src="{{ s.photo.url }}" alt="">
                    </div>
                    <div class="testimonials__content">
                        <div class="testimonials__title">{{ s.title }}</div>
                        <div class="testimonials__text">{{ s.description|linebreaks|truncatewords:25 }} </div>
                        <a href="{% url 'sight' s.slug %}" class="btn btn--testimonials">Читать полностью</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</div>
{% endblock %}

{% block script %}
<!-- JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{% static 'sights/js/app.js' %}"></script>
{% endblock %}