{% extends 'sights/base.html' %}

{% block content %}
<style>
    .body {
        display: flex;
        flex-direction: column;
    }
    .footer {
        flex-shrink: 0;
    }
</style>
<div style="flex: 1 0 auto; margin-top: 150px;">
    <div class="title">
        <h1 class="title__name">{{sight.title}}</h1>
    </div>
    
    <div style="display: flex;">
        {% if sight.photo %}
    
        <img class="popup__photo" style="display: block; width: 350px; position: relative;" src="{{sight.photo.url}}"></img>
        
        {% endif %}
        
        <p class="content">{{sight.description}}</p>
    </div>
</div>
{% endblock %}
