<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .img{
            max-width: 300px;
            height: auto;
            float: left;
            padding: 0 10px 10px 0;
        }
    </style>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{sight.title}}</title>
</head>
<body>
<h1>{{sight.title}}</h1>

{% if sight.photo %}
<p><img class="img" src="{{post.photo.url}}"></p>
{% endif %}
{{sight.description|linebreaks}}
</body>
</html>




