.weather {
    padding: 5px;
    display: block;
    height: 70px;
    width: 300px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.weather__inner {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.weather__temp {
    font-size: 50px;
    margin-right: 10px;
}

.weather__condition {
    display: block;
    height: 50px;
    width: auto;
}

.weather__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    width: 100px;
    min-height: 100%;
}

.weather__cloudness {
    margin-left: 10px;
    margin-bottom: 2px;
    font-size: 16px;
}

.weather__wind {
    margin-left: 10px;
    font-size: 16px;
}
